// Code editor styles

#editor-wrapper {
  min-height: 400px;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  margin: 0 15px;
}

#console {
  border: 1px solid #000;
  display: none;
  margin-bottom: 15px;
  min-height: 200px;
  overflow: auto;
}

.console-ctrl {
  margin: 10px auto;
  .btn-group {
    width: 100%;
  }

  .btn {
    width: 50%;
  }
}
