// Posts index page

.heading-prefix {
  color: rgba(0, 0, 0, 0.44);
  font-size: 11px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.heading-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0785);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 16px;
  padding-bottom: 5px;
  text-transform: none;
}
