// Helpers definitions

.no-underline {
  text-decoration: none !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.v-align {
  vertical-align: middle;
}
