// Variable definitions

// Colors
$white: #fefefe;
$black: #555;

$light-gray: #f5f5f5;
$medium-gray: #eee;
$dark-gray: #bbb;

$primary-color: #0288d1;
$secondary-color: #999;
$success-color: #81c784;
$notice-color: #42a5f5;
$warning-color: #ffb74d;
$alert-color: #f44336;

// Fonts
$body-font-color: $black;
$body-background-color: $light-gray;

// Globals
$global-font-family: "Roboto", "Helvetica Nue", Helvetica, Arial, sans-serif;
$global-radius: 4px;
