<div class="row">
  <div class="col-sm-12">
    <h1>About AlgoApp</h1>
    <p>AlgoApp was created to make it easy to discover and share solutions to algorithm problems. Whether you are prepping for a technical interview or just want to join a community of developers who like to learn and share code, AlgoApp is your tool for becoming a better problem solver.</p>
    <p>Please visit the <a href="/contact">Contact</a> page if you'd like to get in touch.</p>
  </div>
</div>
