<h1>About AlgoApp</h1>
<p>AlgoApp was created to make the process of tracking, sharing and finding solutions to common algorithm problems easier for developers. Whether you are prepping for a technical interview or just want to be part of a community of developers who like to learn and share code, AlgoApp is your tool for becoming a better problem solver.</p>
<p>Please visit the <a href="/contact">Contact</a> page if you'd like to get in touch with me.</p>