<h1>Contact AlgoApp</h1>
<p>Got questions or comments to share? I'd love to hear from you! Please email Elliott at <b>contact.algoapp@gmail.com</b></p>

<h2>Issues</h2>
<p>For site issues, please create an issue on the <a href="https://github.com/eliotc1986/algo-app/issues">github page</a></p>
