<footer class="site-footer">
  <div class="row">
    <div class="col-md-12 text-right">
        <ul class="list-inline">
          <li><a href="/posts">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/tos">Terms</a></li>
          <li>&copy; 2017 AlgoApp</li>
        </ul>
    </div>
  </div>
</footer>
