<footer class="site-footer">
  <div class="row">
    <div class="col-md-12 text-center">
        <ol class="breadcrumb">
          <li><a href="/posts">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ol>
    </div>
  </div>
</footer>
