// alert styles

.alert {
  left: 50%;
  padding: 10px 30px;
  position: absolute;
  text-align: center;
  top: 55px;
  transform: translateX(-50%);
  z-index: 200;
}

.alert-success {
  background-color: $success-color;
  color: $white;
  border-color: darken($success-color, 2%);
}

.alert-info {
  background-color: $info-color;
  color: $white;
  border-color: darken($info-color, 2%);
}

.alert-warning {
  background-color: $warning-color;
  color: $white;
  border-color: darken($warning-color, 2%);
}

.alert-danger {
  background-color: $danger-color;
  color: $white;
  border-color: darken($danger-color, 2%);
}
