// alert styles

.alert-box {
  left: 0;
  padding: 24px 15px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1099;

  &.success {
    background-color: $success-color;
    color: $white;
  }

  &.notice {
    color: $white;
    background-color: $notice-color;
  }

  &.alert {
    color: $white;
    background-color: $warning-color;
  }

  &.danger {
    background-color: $alert-color;
    color: $white;
  }
}
