// Global styles

body {
  background-color: $body-background-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $global-font-family;
  color: $global-font-color;
}

.site-container {
  @extend .container;
  padding: 30px 10px 0;
}

// Sticky footer
.page-content {
  min-height: calc(100vh - 145px);
}
// End sticky footer

// Global components

.pagination-wrapper {
  text-align: center;
}
