// Global styles

body {
  background-color: $body-background-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $global-font-family;
  color: $global-font-color;
}

.site-container {
  @extend .container;
  padding: 40px 10px;
}

// Sticky footer
.page-content {
  min-height: calc(100vh - 166px);
}
// End sticky footer
