// Notifications styles

.notifications-dropdown {
  padding: 0;
  min-width: 350px;

  .notification-item {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;

    &:last-child {
      border-bottom: 0;
      padding-top: 5px;
      font-size: 15px;
    }

    &.unchecked {
      background-color: #EFF;
    }

    span.glyphicon {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }

  .media-body {
    @include truncate();
    max-width: 250px;
    white-space: normal;
  }
}
