// Top navigation styles

.navbar {
  margin-bottom: 0;

  .glyphicon {
    font-size: 14px;
  }

  .user-link {
    padding: 13px 15px !important;

    .user-image {
      height: 24px;
      margin-right: 10px;
    }
  }
}
