// Top navigation styles

.navbar-header,
.dropdown {
  padding-top: 6px;
}

.navbar-nav > li > a {
  margin-top: 13px;
}

#navbar-pic {
  width: 36px;
  margin-right: 10px;
}

#nav-glyph {
  font-size: 14px;
}
