@import "bootstrap-sprockets";
@import "bootswatch/readable/variables";
@import "bootstrap";
@import "bootswatch/readable/bootswatch";

// colors
$red: #cd5c5c;
$blue: #5bc0de;
$gray-primary: #efefef;

// Globals
$body-background-color: $gray-primary;

$warning-color: $red;


p.notice, p.alert {
  text-align: center;
  padding: 3.2rem;
  position: absolute;
  width: 100%;
  opacity: 0.95;
  color: white;
  font-weight: 700;
  z-index: 9999;
}

p.notice {
	background-color: $blue;
}

p.alert {
	background-color: $warning-color;
}

#navbar-pic {
  width: 36px;
  height: auto;
  margin-right: 10px;
}

.navbar-header, .dropdown {
  padding-top: 6px;
}

#nav-glyph {
  font-size: 14px;
}

#favorite-button {
  color: $warning-color;
}

#container {
  min-height: 400px;
}

#editor { 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  margin: auto 15px;
}

#console {
  display: none;
  min-height: 200px;
  border: 1px solid black;
  overflow: auto;
}

#console-ctrl {
  margin: 10px auto;
}

.col-right, .col-left {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.label-default {
  background: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: black;
}

p.danger {
  color: $red;
}

body {
  background-color: $body-background-color;
}

.navbar-nav > li > a {
  margin-top: 13px;
}

.posts-header > h1 {
  margin-bottom: 25px;
}

#post-title {
  font-size: 22px;
  margin: 2px 0px;
}

#post-user-img {
  height: 50px;
  border-radius: 50%;
  margin-left: 3px;
}

#code-link {
  text-decoration: none;
}

#liked, #not-liked {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}

#liked {
  color: $red;
}

#not-liked {
  color: darkgray;
}

#like-count {
  display: inline-block;
  padding-top: 6px;
}

a.tag:hover {
  text-decoration: none;
  opacity: .8;
}

.list-group-item {
  word-break: break-all;
  .badge {
    padding: 7px 10px;
    margin-top: 4px;
  }
}

span.label-default {
  margin-right: 4px;
}

ol.breadcrumb {
  background-color: $body-background-color;
}

li.notifications {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

li.notifications:last-child {
   border-bottom: none;
  padding-top: 5px;
  font-size: 15px;
}

.img-xs {
  height: 24px;
  width: 24px;
  margin-left: -5px;
  margin-bottom: 3px;
}

form.notifications-inline {
  display: inline-block;
}

form.notifications-destroy > button:hover {
  color: $red;
}

li.unchecked {
  background-color: #EFF;
}

#likes-modal {
  cursor: pointer;
}

#likes-modal-media {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

#likes-modal-media:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
